<p>Привет, <%= @user.email %></p>
<p>Вы купили билет по маршруту "<%= @ticket.route_name %>"</p>
<p>Посмотреть билет вы можете здесь <%= link_to "здесь", @ticket %></p>
<p>Посмотреть все свои билеты вы можете здесь <%= link_to "здесь", tickets_url %></p>